$background: #ffaaff;
$href-hover: blue;

body
  {
    background-color: $background;

  }

h1,h2,h3,h4,h5,h6
    {
      font-size: 8em;
      background-color: $background;
    }

h1:hover
    {
      font-size: 8em;
      color: $href-hover;
    }
