.book
  {
    border: 2px solid #888;
    background-color: #f8f8f8;
    border-radius: 20px;
    margin-top: 140px;
  }

.head_view
    {
      background-color: #005;
      color: white;
      border-radius: 10px;
      padding: 2px 20px;
      position: relative;
      top: -12px;
      left: -20px;
    }

.link_doi a,.link_doi
  {
    color: #666;
    font-size: 1.2em;
    text-decoration: none;
  }

.icon
  {
      font-size: 2.5em;
      padding: 1px 10px;
      border: 1px solid #666;
      border-radius: 15px;
      color: #f66;
      margin-right: 5px;
  }

.icon:hover
  {
      font-size: 2.5em;
      background-color: #fee;
      padding: 1px 10px;
      border: 1px solid #f66;
      border-radius: 15px;
      color: #f66;
  }

h5
  {
    color: #666;
    font-size: 1.2em;
  }
.image_book
  {
    width: 100%;
    top: -50px;
    left: -40px;
    position: relative;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f8f8;
  }

  .authors
    {
      font-style: italic;
      font-weight: bolder;
    }

  .keywords
    {
      border: 1px solid #000;
    }

  .subject
      {
        background-color: #ddf;
        color: #777;
        padding:1px 10px;
        border-radius: 10px;
        margin-right: 5px;;
      }
