<div class="container book">
<div class="row">

<div class="col-12 text-end">
<span class="head_view">LIVRO</span>
</div>

<!---------------------- Image-->
<div class="col-4 col-sm-3">
<img src="{{itemBook.be_cover}}" class="image_book">

<i class="bi bi-heart"></i>
<i class="bi bi-heart-fill"></i>

<div class="access">

</div>

<div class="access">
  <a href="#"><i class="bi bi-file-earmark-pdf icon"></i></a>
  <a href="#"><i class="bi bi-link icon"></i></a>
</div>

</div>
<!---------------------- Body-->
<div class="col-8 col-sm-9">
<h1>{{itemBook.be_title}}</h1>

<h4 class="authors">{{itemBook.be_title}}</h4>

<!--- Editra-->
<div class="editora">
  <h5>Editora: <b>Cia da Letras, São Paulo (SP)</b></h5>
</div>

<div class="publicacao">
  <h5>Ano: <b>{{dateOfPublication | json}}</b></h5>
</div>

<div class="idioma">
  <h5>Idioma: <b>Portugues</b></h5>
</div>

<div class="DOI">
<a href="https://doi.org/10.21452/ABEC.2022.isbn.978-65-89167-68-6" target="_new" class="link_doi">DOI: <b>10.21452/ABEC.2022.isbn.978-65-89167-68-6</b></a>
</div>

<div class="abstract mt-3">
  <p>A presente coletânea comemora os 50 anos do Programa de Pós-Graduação em Ciência da Informação (IBICT-UFRJ) e
abriga um pequeno diálogo entre diferentes facetas do ecossistema da comunicação científica, estabelecendo uma interlocução entre seus vários objetos de pesquisa, possibilitando
discussões atuais e novas reflexões. O mundo nunca mais será o mesmo, seja pela pandemia do
novo coronavírus, seja pela Ciência Aberta, que é inexorável, não adianta ser contra; ela está aí e cada vez mais disseminada.
Estamos em um momento de profundas reflexões e mudanças, mas que, sem dúvida, nos levarão a um novo recomeço e a um
crescimento inigualável. Junte-se a nós!
</p>
</div>

<div class="keywords">
<h5>Palavras-chave: <b>Comunicação Científica</b>. <b>Ciência aberta</b>. <b>Revistas Científicas</b>.</h5>
</div>

<div class="exemplares mt-3">
<app-livro-exemplares></app-livro-exemplares>
</div>

<div id="sumario" class="sumario mt-5">
<app-livro-sumario></app-livro-sumario>
</div>

</div>




</div>
</div>
