<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Ferramentas Bibliométricas</h2>
    </div>
    <div class="col-3 text-center" *ngFor="let item of serv">
      <a
        *ngIf="item.type == 'B'"
        [routerLink]="['/tools/'] + item.url"
        routerLinkActive="router-link-active"
        class="link"
      >
        <div class="cover full pt-3 pb-3">{{ item.name }}</div>
      </a>
    </div>
    <!----------- Conceituais -->
    <div class="col-12">
      <h2 class="mt-5">Ferramentas Textuais / Conceituais</h2>
    </div>
    <div class="col-3 text-center" *ngFor="let item of conv" >
      <a
        *ngIf="item.type == 'T'"
        [routerLink]="['/tools/'] + item.url"
        routerLinkActive="router-link-active"
        class="link"
      >
        <div class="cover full pt-3 pb-3">{{ item.name }}</div>
      </a>
    </div>
  </div>
</div>
