.logobk {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(6, 6, 121, 0) 35%,
    rgba(2, 0, 36, 1) 100%
  );
}

.borderDB
  {
    background: rgb(2, 0, 36);
    height: 2px;
  background: linear-gradient(
    145deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(6, 6, 121, 0) 35%,
    rgba(255, 255, 255, 1) 100%


  );
  }
