.work
  {
    font-size: 1.1em;
    color: #333;
    text-decoration: none;
    font-weight: bold
  }

  .result
    {
      color: #000;
    }
.heightImg
  {
    height: 100px;
    margin-right: 20px;
    border: 1px solid #000;
  }
