<nav class="navbar navbar-expand-lg bg-benancib fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://cip.brapci.inf.br">
            <img src="https://cip.brapci.inf.br/img/logo/logo_benancib_white.png" style="height: 18px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['about']" routerLinkActive="router-link-active">Sobre a Benancib</a>
                </li>
            </ul>
            <li class="nav-item" style="list-style-type: none;"><button class="btn btn-outline-access" onclick="location.href='https://cip.brapci.inf.br/benancib/social/login'" style="margin-left: 7px;" type="submit">ACESSO</button></li>        </div>
    </div>
</nav>
