.tmp/
/writable/
public/.c/
public/_repository/
,c/
public/.c/00/
public/img/c/
public/.c/00/*
/.env

python/.env
bots/ROBOTi/env.py

.Google.json
*.pyc
.env
*.weights
*.bin
*.sqlite3
/bots/AI/SmartRetriavel/venv/Lib
node_modules
.env
.env
_Documments/ISSN/issnltables/20260820.ISSN-L-to-ISSN.txt
_Documments/ISSN/issnltables/20260820.ISSN-to-ISSN-L.txt
_Documments/ISSN/issnltables/ISSN_ISSN-L_table.20260820.txt
