<div class="border border-secondary rounded-5 shadow-lg mt-5" style="padding: 8px">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
      line-height: 1.5;
    "
  >
    <div style="transform: scale(0.857143)">
      <div
        data-test-subj="lns_metric_value"
        style="font-size: 60pt; font-weight: 600"
      >
        7.421
      </div>
      <div data-test-subj="lns_metric_title" style="font-size: 1.4rem">
        Trabalhos
      </div>
    </div>
  </div>
</div>
