<h2>Single File Upload</h2>

<input
  type="file"
  class="file-input-2"
  (change)="onChange($event)"
  #fileUpload
/>

<div *ngIf="file">
  <section class="file-info">
    File details:
    <ul>
      <li>Name: {{ file.name }}</li>
      <li>Type: {{ file.type }}</li>
      <li>Size: {{ file.size }} bytes</li>
      <li>ID: {{ ID }}</li>
    </ul>
  </section>

  <section [ngSwitch]="status">
    <p *ngSwitchCase="'uploading'">⏳ Carregando...</p>
    <p *ngSwitchCase="'success'">✅ Concluído com sucesso!</p>
    <p *ngSwitchCase="'fail'">❌ Erro ao enviar arquivo!</p>
    <p *ngSwitchDefault>😶 Clique para enviar o arquivo</p>
  </section>

  <button (click)="onUpload()" class="btn btn-outline-primary">
    Enviar o arquivo
  </button>
</div>
