<app-theme-header [header]="header"></app-theme-header>

<div *ngIf="data">
  <app-banner-book
    [section]="data.section"
    [cover]="data.cover"
    [caption]="data.title"
  ></app-banner-book>
</div>
<app-banner-brapci-livros
  *ngIf="data"
  [title]="'LIVRO'"
></app-banner-brapci-livros>

<div class="container mt-2" *ngIf="data">
  <div class="row">
    <div class="col-9" *ngIf="data">
      <span class="small">Título do livro</span>
      <br />
      <span class="bold titleBook">{{ data.title }}</span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-lg-1">
      <app-component-pdf
        [url]="data.resource_pdf"
        [id]="data.id"
      ></app-component-pdf>

      <!--
      <app-altmetrix-plumx [doi]="data.doi"></app-altmetrix-plumx>
      -->
    </div>

    <!-------------------- Dados da obra -->
    <div class="col-9 col-lg-8">
      <div class="row">
        <div class="col-12">
          <b>Autor(es)</b>:
          <span *ngFor="let item of data.creator_author">
            <a [routerLink]="['/v/' + item.ID]" class="link">{{ item.name }}</a>
            <span *ngIf="item.complement"> {{ item.complement }}</span> |
          </span>
        </div>

        <div class="col-12 mt-2">
          <b>Editora</b>:
          {{ data.publisher }}
        </div>

        <div class="col-12 mt-2">
          <b>Ano</b>:
          {{ data.year }}
        </div>

        <div class="col-12 mt-2">
          <b>ISBN</b>:
          {{ data.isbn }}
        </div>

        <div *ngIf="data.pages" class="col-2 text-end mt-2"><b>Pages</b></div>
        <div *ngIf="data.pages" class="col-10 text-start mt-2">
          {{ data.pages }}
        </div>
      </div>

      <!---------------------------------------------- RESUMO-->
      <div class="col-12 mt-2">
        <b>Resumo</b>:
        {{ data.description }}
      </div>

      <!---------------------------------------------- KEYWORDS-->
      <div class="col-12 mt-2">
        <b>Palavras-chave</b>:
        <app-work-keywords [keywords]="data.subject"></app-work-keywords>
      </div>

      <!---------------------------------------------- SUMARY-->
      <div class="col-12 mt-2">
        <app-work-sumary [data]="data"></app-work-sumary>
      </div>
    </div>

    <!---------------------------------------------- Sistema de Recomendações -->
    <div class="col-3 col-lg-3 mt-5">
      <app-brapci-recomendation></app-brapci-recomendation>
    </div>
  </div>

  <!--------------- Administracao -->
  <div>
    <app-remove-concept [ID]="data.ID"></app-remove-concept>
    <app-edit-concept [ID]="data.ID"></app-edit-concept>
    <app-ai-process [ID]="data.ID"></app-ai-process>
    <app-tools-sumary *ngIf="data.Class=='Book'" [ID]="data.ID"></app-tools-sumary>
  </div>

  <!---------------------------------------------- PART II-->
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <!--------------- Cite -->
        <app-v-cite [citacao]="data.cited"></app-v-cite>

        <!--------------- Data -->
        <img [src]="rdf" height="32px" />
        <app-v-data [RDFdata]="data.data"></app-v-data>
      </div>
    </div>
  </div>
  <div style="height: 100px"></div>
</div>
