  #logoB,
  #logoR,
  #logoA,
  #logoP,
  #logoC,
  #logoI {
    background-color: #aaaaff;
    fill: blue;
    animation: col 5s alternate infinite;
  }

  #logo { max-height: 450px;}

  @keyframes col {
    0%,
    100% {
      fill: rgb(0, 127, 255);
    }
    25% {
      fill: rgb(0, 0, 255);
    }
    50% {
      fill: rgb(0, 127, 255);
    }
    75% {
      fill: rgb(127, 0, 255);
    }
  }
