<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <form  [formGroup]="formCliente" (ngSubmit)="onSubmit()">
        <div class="form-group mt-3">
          <label for="dataNascimento">Informe a nova senha</label>
          <input type="text" class="form-control" name="pass1" id="pass1" formControlName="pass1">
          </div>

        <div class="form-group mt-3">
          <label for="pass2">Confirme nova senha</label>
          <input type="text" class="form-control" name="pass2" id="pass2" formControlName="pass2">
        </div>

        <div class="form-group mt-3">
          <input type="submit" class="btn btn-outline-primary me-2" value="Salvar">
          <a href="#" class="btn btn-outline-secondary me-2">Cancelar</a>
        </div>
      </form>
    </div>
    <div class="col-12 col-lg-8"></div>
  </div>
</div>

<div class="container">
<div class="row">
<div class="col-12 mt-5">
  {{formCliente.value | json}}
</div>
</div>
</div>
