<form [formGroup]="FormBook" (submit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img [src]="logo_brapcilivros" style="height: 80px; float: right" />
        <h1>Autodepósito de Livros de Ciência da Informação</h1>
      </div>
      <div class="col-12">
        <div class="container">
          <div [hidden]="submitted" class="row">
            <div class="col-12 col-lg-6">
            <!-- Alert - already file-->
            <div *ngIf="st==1" class="alert alert-success" role="alert">
                  Esse Documento já foi enviado, porém está aguardando a confirmação do e-mail

                  <p>Para reenviar o e-mail de confirmação clique no botão abaixo:</p>
                  <br/>
                  <button class="btn btn-outline-secondary" (click)="reloadPage()">Reenviar link de confirmação</button>
            </div>

            <div *ngIf="st==10" class="alert alert-success" role="alert">
                  Um e-mail foi enviado, para autorilizar a catalogação do livro clique no link do e-mail.
                  <br/>
                  <button class="btn btn-outline-secondary" (click)="reloadPage()">Reenviar o link</button>
                  <br/>
                  <button class="btn btn-outline-secondary" (click)="reloadPage()">Fazer outro envio</button>
            </div>

            <div *ngIf="st==11" class="alert alert-success" role="alert">
                  Um e-mail foi reenviado, para autorilizar a catalogação do livro clique no link do e-mail.
                  <button class="btn btn-outline-secondary" (click)="reloadPage()">Fazer outro envio</button>
            </div>


            <div *ngIf="st==2" class="alert alert-success" role="alert">
                  Esse Documento já está em avaliação, aguarde avaliação

                        <section class="file-info">
                          File details:
                          <ul>
                            <li>Name: {{ file.name }}</li>
                            <li>Type: {{ file.type }}</li>
                            <li>Size: {{ file.size }} bytes</li>
                            <li>ID: {{ ID }}</li>
                          </ul>
                        </section>
                  <button class="btn btn-outline-secondary" (click)="reloadPage()">Recarregar Página</button>
            </div>
              <!------------ FILE PDF-->
              <table width="100%" *ngIf="st == 0">
                <tr>
                  <td
                    style="background: {{
                      color_status_01
                    }}; color: white; font-size: 2em; text-align: center; padding: 10px 3px; border-radius: 10px;"
                    valign="top"
                  >
                    1
                  </td>
                  <td style="padding: 0px 10px">
                    <div *ngIf="xClass == 'pdfBOOK'">
                      <h2>Faça upload do livro (em PDF)</h2>
                      <input
                        type="file"
                        class="file-input"
                        (change)="onChange($event)"
                        #fileUpload
                      />
                      <div *ngIf="file">
                        <section class="file-info">
                          File details:
                          <ul>
                            <li>Name: {{ file.name }}</li>
                            <li>Type: {{ file.type }}</li>
                            <li>Size: {{ file.size }} bytes</li>
                            <li>ID: {{ ID }}</li>
                          </ul>
                        </section>

                        <button
                          (click)="onUpload()"
                          class="btn btn-outline-primary"
                        >
                          Enviar o arquivo
                        </button>

                        <section [ngSwitch]="status">
                          <p *ngSwitchCase="'uploading'">⏳ Carregando...</p>
                          <p *ngSwitchCase="'success'">
                            ✅ Concluído com sucesso!
                          </p>
                          <p *ngSwitchCase="'fail'">
                            ❌ Erro ao enviar arquivo!
                          </p>
                          <p *ngSwitchDefault>
                            😶 Clique para enviar o arquivo
                          </p>
                          <p *ngSwitchCase="'already'">
                            😶 Já existe uma submissão registrada para esse
                            arquivo!
                          </p>
                        </section>
                      </div>
                    </div>
                  </td>
                </tr>

                <!-------------------- Cadastro -->
                <tr>
                  <td
                    style="background: {{
                      color_status_02
                    }}; color: white; font-size: 2em; text-align: center; padding: 10px 3px; border-radius: 10px; "
                    valign="top"
                  >
                    2
                  </td>
                  <td [class.active]="status_02" style="padding: 0px 10px">
                    <!---- DADOS -->
                    <div class="form-group">
                      <!--- AUTOR -->
                      <label for="b_autor" class="mt-0">{{ msg_autor }}</label>
                      <input
                        id="b_autor"
                        name="b_autor"
                        class="form-control"
                        [ngClass]="{
                          form_valid: FormBook.value.b_autor != '',
                          form_invalid: FormBook.value.b_autor == ''
                        }"
                        type="text"
                        formControlName="b_autor"
                      />
                      <div *ngIf="!FormBook.value.b_autor">
                        <span class="form_mandadory">Campo obrigatório</span>
                      </div>

                      <!--- EMAIL -->
                      <label for="b_email" class="mt-0">{{ msg_email }}</label>
                      <input
                        id="b_email"
                        name="b_email"
                        class="form-control"
                        [ngClass]="{
                          form_valid: FormBook.value.b_email != '',
                          form_invalid: FormBook.value.b_email == ''
                        }"
                        type="text"
                        formControlName="b_email"
                      />
                      <div *ngIf="!FormBook.value.b_email">
                        <span class="form_mandadory">Campo obrigatório</span>
                      </div>

                      <!--- TITLE -->
                      <label for="b_titulo" class="mt-2">{{ msg_title }}</label>
                      <textarea
                        id="b_titulo"
                        name="b_titulo"
                        rows="4"
                        [ngClass]="{
                          form_valid: FormBook.value.b_titulo != '',
                          form_invalid: FormBook.value.b_titulo == ''
                        }"
                        class="form-control"
                        type="text"
                        formControlName="b_titulo"
                      >
                      </textarea>
                      <div *ngIf="!FormBook.value.b_titulo">
                        <span class="form_mandadory">Campo obrigatório</span>
                      </div>
                      <br />

                      <!--- Licenca -->
                      <label class="mt-0">{{ msg_licenca }}</label>
                      <span class="ms-5" *ngIf="!FormBook.value.b_licenca">
                        <span class="form_mandadory">(Campo obrigatório)</span>
                      </span>
                      <table
                        class="table"
                        style="background-color: #fff"
                        [ngClass]="{
                          form_valid: FormBook.value.b_licenca != '',
                          form_invalid: FormBook.value.b_licenca == ''
                        }"
                      >
                        <tr>
                          <td class="p-2" valign="top" width="130px">
                            <span *ngFor="let lc of cc" class="small">
                              <input
                                value="{{ lc.name }}"
                                type="radio"
                                formControlName="b_licenca"
                                title="{{ lc.desc }}"
                                (change)="licence_chage(lc.img, lc.desc)"
                              />
                              {{ lc.name }}
                              <br />
                            </span>
                          </td>
                          <td valign="top" class="p-2">
                            <img
                              *ngIf="licence_image"
                              width="150"
                              [src]="licence_image"
                              style="float: right"
                            />
                            <p class="small">{{ licence_text }}</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>

                <!----------- SUBMIT-->

                <tr>
                  <td
                    style="background: {{
                      color_status_03
                    }}; color: white; font-size: 2em; text-align: center; padding: 10px 3px; border-radius: 10px; "
                    valign="top"
                  >
                    3
                  </td>
                  <td [class.active]="status_03" style="padding: 0px 10px">
                    <!--Submit-->
                    <button
                      [ngClass]="{
                        'btn-outline-secondary': FormBook.status == 'INVALID',
                        'btn-primary': FormBook.status == 'VALID'
                      }"
                      [disabled]="FormBook.status == 'INVALID'"
                      type="submit"
                      class="btn mt-3"
                    >
                      {{ msg_submit }}
                    </button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-12 col-lg-6">
              <app-book-term *ngIf="st == 0"
                [autor]="FormBook.value.b_autor"
                [title]="FormBook.value.b_titulo"
                [licence]="FormBook.value.b_licenca"
              ></app-book-term>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
