<div class="container">
  <div class="row">
    <div class="col-lg-12 col-12">
      <!-- partial:index.partial.html -->
      <h1>Timeline das revistas</h1>
    </div>
    <div class="col-lg-12 col-12 p-5 pt-0">
      O timeline com o ano de criação das revistas na BRAPCI (Base de Dados em Ciência da Informação) é uma representação visual que permite visualizar a evolução histórica das publicações científicas indexadas na base. Com esta linha do tempo, é possível identificar o momento de surgimento de cada periódico, facilitando a compreensão do desenvolvimento da produção científica na área da Ciência da Informação ao longo dos anos. Por meio desse recurso, pesquisadores e interessados têm a oportunidade de acompanhar a consolidação e o crescimento das publicações, além de observar a dinâmica e os contextos históricos que influenciaram a criação das revistas.
    </div>
    <div class="col-lg-12 col-12">
      <ul>
        <li
          *ngFor="let item of data; let i = index"
          style="--accent-color: #41516c"
        >
          <div class="date">{{ item.year }}</div>
          <div class="descr" *ngFor="let journal of item.journals">
            <li><a href="/#/v/{{journal.ID}}" class="link bold">{{ journal.name}}</a></li>
          </div>
        </li>
      </ul>
      <!-- partial -->
    </div>
  </div>
</div>
