<div class="container">
  <div class="row">
    <div class="col-3 text-end">
      <h3 class="rdfdata">Propriedade</h3>
    </div>
    <div class="col-9">
      <h3 class="rdfdata">Recurso</h3>
    </div>

    <div class="row" *ngFor="let property of RDFdata | keyvalue">
      <div class="col-3 text-end" *ngIf="property.key">
        {{ property.key }}
      </div>
      <div class="col-9" *ngIf="property.value">
        <p *ngFor="let item of property.value | keyvalue">
          <li [innerHTML] *ngFor="let items of item.value | keyvalue; let i = index" [attr.data-index]="i">
            {{ items.value | json }}
            <sup>({{ item.key }})</sup>
          </li>
        </p>
      </div>
    </div>
  </div>
</div>
