<h4>{{ id }}</h4>
<div class="container" *ngIf="full">
  <div class="row">
    <div class="col-lg-6">
      <div
        *ngFor="let line of full.line"
        class="border-bottom border-secondary"
      >
        {{ line }}
      </div>
    </div>

    <div class="col-lg-6">
      E-mail
      <ul>
      <li *ngFor="let line of full.email">
          {{line}}
      </li>
      </ul>

      Referencias
      <ul>
      <li *ngFor="let line of full.cited">
          {{line}}
      </li>
      </ul>
    </div>
  </div>
</div>
