<div class="mt-5">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <label>Informe o ISBN</label>
                <input [(ngModel)]="isbn" #ctrl="ngModel" required [ngModelOptions]="{standalone: true}"
                    class="border border-secondary form-control">
                <button class="btn btn-outline-secondary mt-2 full">ADD</button>
            </form>

            <div *ngIf="message" class="alert alert-danger full mt-2">
                {{message}}
            </div>
        </div>
        <div class="col-12 col-sm-8">
            <app-book-preparo-view [admin]="true" [contador]="contador" [isbn]="visbn" [itemBook]="itemBook"></app-book-preparo-view>
            <app-book-preparo-list></app-book-preparo-list>
        </div>
    </div>
</div>
