<div class="container" *ngIf="source">
  <div class="row">
    <div class="col-12">
      <h1>{{ source.source }}</h1>
      <h2>
        {{ source.nr }} {{ source.acron }}, {{ source.place }} -
        {{ source.year }}
      </h2>
    </div>
  </div>
</div>

<div class="container" *ngIf="source">
  <div class="row">
    <div class="col-2 text-center">
        <span style="font-size: 40px">{{ source.worksTotal}}</span>
        <br>
        TRABALHOS

        <br/><br/>

        <span class="mt-5" style="font-size: 40px">{{ source.authorsTotal}}</span>
        <br>
        AUTORES
    </div>

    <div class="col-10">
      WORKS
      <ol>
        <li
          class="mt-2"
          style="margin: 0; padding: 0"
          *ngFor="let works of source.works"
        >
          <a [routerLink]="['/v/' + works.ID]" class="link">
          {{ works.LEGEND}}
          <br>
          <span class="small"><i>{{ works.AUTHORS}}</i></span>
          </a>
        </li>
      </ol>

      AUTORES
      <ol>
      <li *ngFor="let author of source.authors">
        {{ author.name }} <sup>{{author.total}}</sup>
      </li>
      </ol>
    </div>
  </div>
</div>
