<div class="container">
  <div class="row">
    <div class="col-7">
      <h1>{{ data.name }}</h1>

      <div class="chart-container">
      <canvas  id="MyProduction" >{{ production }}</canvas>
      </div>

      <div *ngIf="data.works.Article">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.Article.length > 0">
          Artigos <sup>{{data.works.Article.length}}</sup>
        </h2>
        <div *ngFor="let item of data.works.Article" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>

      <div *ngIf="data.works.Proceeding">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.Proceeding.length > 0">
          Artigos em eventos <sup>{{data.works.Proceeding.length}}</sup>
        </h2>
        <div *ngFor="let item of data.works.Proceeding" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>

      <div *ngIf="data.works.Book">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.Book.length > 0">Livros <sup>{{data.works.Book.length}}</sup></h2>
        <div *ngFor="let item of data.works.Book" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>

      <div *ngIf="data.works.BookChapter">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.BookChapter.length > 0">
          Capítulos de Livros
        </h2>
        <div *ngFor="let item of data.works.BookChapter" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="chart-container">
        <canvas id="MyChart" style="height: 300px; width: 100%;">{{ chart }}</canvas>
      </div>
      <div>
        <h4><b><i>{{ data.coauthors.length }} Coautores</i></b></h4>
        <ol>
          <li *ngFor="let auth of data.coauthors" [ngClass]="{bold: auth.colaborations > 5}">
            <a class="link" [routerLink]="['/v/'+auth.ID]">{{ auth.nome }}</a>
            <sup class="ms-1" title="Colaborations">{{ auth.colaborations }}</sup>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
