<div class="container">
  <div class="row">
    <div class="col-7">
      <h1>{{ data.name }}</h1>

      <div *ngIf="data.works.Article">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.Article.length > 0">
          Artigos
        </h2>
        <div *ngFor="let item of data.works.Article" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>

      <div *ngIf="data.works.Proceeding">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.Proceeding.length > 0">
          Artigos em eventos
        </h2>
        <div *ngFor="let item of data.works.Proceeding" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>

      <div *ngIf="data.works.Book">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.Book.length > 0">Livros</h2>
        <div *ngFor="let item of data.works.Book" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>

      <div *ngIf="data.works.BookChapter">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.BookChapter.length > 0">
          Capítulos de Livros
        </h2>
        <div *ngFor="let item of data.works.BookChapter" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="chart-container">
          <canvas  id="MyChart" >{{ chart }}</canvas>
      </div>
    </div>
  </div>
</div>
