<div class="container">
  <div class="row">
    <div class="col-12 col-xl-7">
      <h1>{{ data.name }}</h1>

      <div class="mt-2"><b>Produção Científica por ano/tipo do autor</b></div>
      <div
        class="chart-container"
        style="background-color: #efefef; border: 2px solid #CCC"
      >
        <canvas id="MyProduction">{{ production }}</canvas>
      </div>

      <!-- TAGCLOUD-->
      <div class="mt-2"><b>Nuvem de TAGs de assuntos do Autor</b></div>
      <!-- app.component.html -->
      <div style="background-color: #efefef; border: 2px solid #CCC" class="d-none d-xl-block">
        <angular-d3-cloud
          [data]="dataTAG"
          [width]="650"
          [height]="300"
          [padding]="1"
          font="serif"
          [rotate]="0"
          [autoFill]="true"
          (wordClick)="onWorkClick()"
        ></angular-d3-cloud>
      </div>

      <div *ngIf="data.works.Article">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.Article.length > 0">
          Artigos <sup>{{ data.works.Article.length }}</sup>
        </h2>
        <div *ngFor="let item of data.works.Article" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>

      <div *ngIf="data.works.Proceeding">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.Proceeding.length > 0">
          Artigos em eventos <sup>{{ data.works.Proceeding.length }}</sup>
        </h2>
        <div *ngFor="let item of data.works.Proceeding" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>

      <div *ngIf="data.works.Book">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.Book.length > 0">
          Livros <sup>{{ data.works.Book.length }}</sup>
        </h2>
        <div *ngFor="let item of data.works.Book" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>

      <div *ngIf="data.works.BookChapter">
        <h2 class="brp_h2 mt-4" *ngIf="data.works.BookChapter.length > 0">
          Capítulos de Livros
        </h2>
        <div *ngFor="let item of data.works.BookChapter" class="mb-2 cited">
          <div [innerHTML]="item"></div>
        </div>
      </div>
    </div>

    <!----------------------------- RIGHT SIDE-->
    <div class="col-xl-5 col-12">
      <div class="chart-container">
        <canvas id="MyChart" style="height: 300px; width: 100%">{{
          chart
        }}</canvas>
      </div>
      <div>
        <h4>
          <b
            ><i>{{ data.coauthors.length }} Coautores</i></b
          >
        </h4>
        <ol>
          <li
            *ngFor="let auth of data.coauthors"
            [ngClass]="{ bold: auth.colaborations > 5 }"
          >
            <a class="link" [routerLink]="['/v/' + auth.ID]">{{ auth.nome }}</a>
            <sup class="ms-1" title="Colaborations">{{
              auth.colaborations
            }}</sup>
          </li>
        </ol>

        <!-------------- JOURNALS-->
        <h4>
          <b
            ><i>Pubicações em {{ data.dataJOUR.data.length }} Revistas/Eventos</i></b
          >
        </h4>
        <div class="chart-container" >
          <canvas  id="MyJournals" >{{ journals }}</canvas>
        </div>

        <!-------------- SUBJECTS-->
        <h4>
          <b
            ><i>{{ data.dataTAG.length }} Assuntos</i></b
          >
        </h4>
        <ol>
          <li
            *ngFor="let subj of data.dataTAG"
            [ngClass]="{ bold: subj.value > 50 }"
          >
            {{ subj["text"] }} <sup>{{ subj["value"] / 10 }}</sup>
          </li>
        </ol>

        <span class="small">Ponto de acesso autorizado</span><br>
        <b>{{data.name}}</b>
        <br/><br/>
        <span class="small">Variantes</span><br>
        <li *ngFor="let vars of data.variants">
          {{vars.name}}
        </li>
      </div>
    </div>
  </div>
</div>

<style>
  .tag-cloud span {
    margin: 0 10px;
  }
</style>
