  <form onsubmit="event.preventDefault();" role="search">
    <label for="search">Search for stuff</label>
    <input
      id="search"
      type="search"
      placeholder="O que você está procurando?"
      autofocus
      required
    />
    <button type="submit">Pesquisar</button>
  </form>
  <small class="link">busca avançada</small>

  <div *ngIf="advanceSearch">
  <div class="form-group">
    <label for="formControlRange">Example Range input</label>
    <input type="range" class="form-control-range" id="formControlRange">
  </div>
  </div>
