
<form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <label for="search">Search for stuff</label>
    <input
      id="search"
      type="search"
      placeholder="O que você está procurando?"
      formControlName="term"
      autofocus
      required
    />
    <button type="submit">Pesquisar</button>
  </form>
  <small class="link ms-3" (click)="clickFilters()">filtros</small>
  <small class="link ms-4" (click)="clickadvanceSearch()">busca avançada</small>

  <div *ngIf="filters">
  <div class="form-group zoomIn">
    <label for="formControlRange">Example Range input</label>
    <input type="range" class="form-control-range" id="formControlRange">
  </div>
  </div>


<app-search-brapci-results [results]="result"></app-search-brapci-results>
