<app-theme-header></app-theme-header>
<app-theme-navbar></app-theme-navbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <brapci-basket [total]="total"></brapci-basket>
    </div>
  </div>

  <div *ngIf="row">
    <h2>Artigos</h2>
    <div *ngFor="let item of row.ABNT.Articles" class="mb-2">
      {{ item }}
    </div>

    <h2>Anais de eventos</h2>
    <div *ngFor="let item of row.ABNT.Proceedings" class="mb-2">
      {{ item }}
    </div>

    <h2>Livros</h2>
    <div *ngFor="let item of row.ABNT.Books" class="mb-2">
      {{ item }}
    </div>

    <h2>Capítulos de livros</h2>
    <div *ngFor="let item of row.ABNT.BooksChapter" class="mb-2">
      {{ item }}
    </div>
  </div>
</div>
<app-theme-footer></app-theme-footer>
