/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
@import "./assets/base/variables";
@import "./assets/base/style";

.link
  {
    color: #333;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    line-height: 1rem;
    cursor: pointer;
  }

.link:hover
  {
    color: #333;
    text-decoration: underline;
    transition-duration: 410ms;
    color: #000;
  }

.cover
  {
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.0);

  }

.cover:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
  animation: zoomIN 1s;
  transform: scale(1.1);
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
