/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
@import "./assets/base/variables";
@import "./assets/base/style";

.link
  {
    color: #333;
    text-decoration: none;
  }

.link:hover
  {
    color: #333;
    text-decoration: underline;
    transition-duration: 410ms;
    color: #000;
  }
