<h2>TERMO DE AUTODEPÓSITO</h2>
<p>
  Eu, <b>{{autor}}</b> doravante referido como "Autor", concordo com os seguintes termos e
  condições para realizar o autodepósito do meu trabalho intitulado "<b>{{
    title
  }}</b
  >"" na <b>{{ repositorio }}</b>:
</p>
<ol>
  <li>
    Autorização de Autodepósito:
    <ol>
      <li>
        O Autor concede permissão ao {{ repositorio }} para hospedar,
        exibir e disponibilizar publicamente o trabalho mencionado acima em
        formato eletrônico sem custos para mim ou para os visitantes.
      </li>
      <li>
        O Autor confirma que possui os direitos autorais e/ou as permissões
        necessárias para realizar o autodepósito do trabalho no repositório.
      </li>
    </ol>
  </li>
  <li>Licenciamento:</li>
  <ol>
    <li>
      O Autor concorda em licenciar o trabalho sob a seguinte licença de acesso
      aberto: <b>{{ licence }}</b>.
    </li>
    <li>
      O Autor entende que a escolha da licença determinará como outros podem
      usar, distribuir e construir sobre o trabalho.
    </li>
  </ol>
  <li>
    Responsabilidades do Autor:
    <ol>
      <li>
        O Autor é responsável por garantir que o trabalho seja preciso e
        completo.
      </li>
      <li>
        O Autor concorda em atualizar o trabalho, se necessário, para refletir
        informações corretas e atuais.
      </li>
      <li>
        O Autor é responsável por qualquer problema relacionado a direitos
        autorais ou violação de direitos de terceiros decorrentes do trabalho
        autodepositado.
      </li>
    </ol>
  </li>

  <li>
    Permanência no Repositório:
    <ol>
      <li>
        O trabalho será mantido na {{ repositorio }} permanentemente ou até que o Autor ou um de seus coautores solicite sua remoção.
      </li>
      <li>
        O trabalho é disponibilizado na integra, não sendo possível separar em capítulos.
      </li>
      <li>
        Não é possível omitir capítulos do trabalho.
      </li>
    </ol>
  </li>

  <li>
    Temática da obra:
    <ol>
      <li>
        O {{repositorio}} pode não indexar a obra se ela <b>NÃO</b> abordar a área de Ciência da Informação.
      </li>
    </ol>
  </li>

  <li>
    Aceitação dos Termos:
    <ol>
      <li>
        Ao realizar o autodepósito, o Autor concorda com os termos e condições
        estabelecidos neste documento.
      </li>
    </ol>
  </li>
</ol>
