<div class="aH">RDF Editor</div>


<!----------------------------------------------------- FORM -->
<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      ==>{{ searchForm.value | json }}
      <!---------------------------------- Form Concept -->
      <div *ngIf="literal == false">
        <form [formGroup]="searchForm" (submit)="onSearch()">
          <label>Termos de busca</label>
          <div class="input-group mb-3">
            <input
              id="term"
              type="term"
              placeholder="Digite aqui"
              formControlName="term"
              autofocus
              required
              (keyup)="keyUp()"
              aria-label="Termo de Busca"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-addon2"
              (click)="submitAction()"
            >
              Busca
            </button>

            <button type="submit" *ngIf="loading">
              <img [src]="loaging_img" style="height: 65px" />
            </button>
            <br />
          </div>
          <!----------- List of Concepts-->
          <select class="full" size="6">
            <option *ngFor="let item of result">
              {{ item | json }}
            </option>
          </select>

          <button class="btn btn-outline-secondary me-2 mt-3" [disabled]="btn1">
            Include
          </button>
          <button class="btn btn-outline-secondary me-2 mt-3" [disabled]="btn2">
            Save & Close
          </button>
          <button class="btn btn-outline-secondary me-2 mt-3" [disabled]="btn3">
            Save & Continue
          </button>
          <button class="btn btn-outline-warning me-2 mt-3" (click)="wclose()">
            Close
          </button>
        </form>
      </div>

      <!---------------------------------- Form Literal -->
      <div *ngIf="literal == false">
        <form [formGroup]="searchForm" (submit)="onSearch()"></form>
      </div>
    </div>

  <!------------------ Class Type -->
  <div class="col-2 text-end">
    <!-- ID -->
    <div class="border-bottom border-secondary small center bold">Persistent ID</div>
    <div class="mb-3">{{ID}}</div>

    <!-- Class -->
    <div class="border-bottom border-secondary small center bold">Class</div>
    <div class="mb-3">{{class}}</div>

    <!-- Propriety -->
    <div class="border-bottom border-secondary small center bold">Propriety</div>
    <div class="mb-3">{{propriety}}</div>

    <!-- Resource -->
    <div class="border-bottom border-secondary small center bold">Resource</div>
    <div *ngFor="let item of tclass" class="onHover">
      <span (click)="selectResource(item['Class'])">{{item['Class']}}</span>
    </div>
  </div>
    </div>
</div>
