<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Sobre a Brapci</h2>
      <p style="text-align: justify">
        A Base de Dados Referenciais de Artigos de Periódicos em Ciência da
        Informação (Brapci) é o produto de informação do projeto de pesquisa
        “Opções metodológicas em pesquisa: a contribuição da área da informação
        para a produção de saberes no ensino superior”, cujo objetivo é
        subsidiar estudos e propostas na área de Ciência da Informação,
        fundamentando-se em atividades planejadas institucionalmente. Com esse
        propósito, foram identificados os títulos de periódicos da área de
        Ciência da Informação (CI) e indexados seus artigos, constituindo-se a
        base de dados referenciais. A Brapci amplia o espaço documentário
        permitido ao pesquisador, facilita a visão de conjunto da produção na
        área, ao mesmo tempo, que revela especificidades do domínio científico.
        Atualmente disponibiliza referências e resumos de 19.255 textos
        publicados em [[brapci_rn]] periódicos nacionais impressos e eletrônicos da área de
        CI. Dos periódicos disponíveis [[brapci_rn]] estão ativos e 17 históricos
        (descontinuados). Além de tudo isso, a BRAPCI está fazendo uma pesquisa
        online com os seus usuários com a finalidade de avaliar a base de
        pesquisa BRAPCI da Universidade Federal do Paraná criado sob o ponto de
        vista do usuário para a possibilidade de implementar futuras melhorias
        de interface, conteúdo e nível de satisfação.
      </p>
    </div>
    <div class="col-6"></div>
    <h2>Como citar a Brapci</h2>

    <h2>Indicadores da Brapci</h2>
    <ul>
      <li>Autores</li>
    </ul>
  </div>
  <div>Conformidade:
  <p>https://www.acessibilidade.gov.pt/</p>
  <p>https://accessmonitor.acessibilidade.gov.pt/</p>
  </div>
</div>
