Contador: {{ contador }}
ISBN: {{ isbn }}

<div *ngIf="itemBook">
<div class="container">
<div class="row">
<div class="col-2 col-sm-2">
<img [src]="itemBook.be_cover" class="img-fluid">
</div>
<div class="col-10 col-sm-10">
<span class="title">{{itemBook.bk_title}}<br/></span>
<span *ngIf="itemBook.be_authors" class="authors">{{itemBook.be_authors}}<br/></span>
<span *ngIf="itemBook.be_isbn13"class="others">ISBN: {{itemBook.be_isbn13}}<br/></span>
<span *ngIf="itemBook.be_year != 0"class="others">Ano: {{itemBook.be_year}}<br/></span>

<span *ngIf="admin" class="others">
<a [routerLink]="['/books/admin/isbn/edit/' + itemBook.be_isbn13]" target="_blank" routerLinkActive="router-link-active"> editar</a>
<br/></span>
</div>
</div>
