<app-theme-header [header]="header"></app-theme-header>
<div *ngIf="data">
  <app-brapci-banner
    [section]="data.jnl_name_abrev"
    [cover]="data.cover"
    [publisher]="data.jnl_name"
  ></app-brapci-banner>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
        &nbsp;
    </div>

    <div class="col-9">
      <div *ngIf="data.Email"><b>e-mail</b>: {{ data.Email }}</div>
      <div *ngIf="data.URL">
        <b>Site:</b>: <a href="{{ data.URL }}" class="link">URL do Site</a>
      </div>
      <span>Nome abreviado: </span>{{ data.jnl_name_abrev }}<br />
      <span>ISSN: </span>{{ data.jnl_issn }} {{ data.jnl_eissn }}<br />
    </div>

    <div class="col-3"></div>
  </div>
</div>
