<app-theme-header></app-theme-header>
<app-theme-navbar></app-theme-navbar>
<app-brapci-article *ngIf="type=='Article'" [data]="data"></app-brapci-article>
<app-brapci-proceeding *ngIf="type=='Proceeding'" [data]="data"></app-brapci-proceeding>
<app-brapci-subject *ngIf="type=='Subject'" [data]="data"></app-brapci-subject>
<app-brapci-book *ngIf="type=='Book'" [data]="data"></app-brapci-book>
<app-brapci-date *ngIf="type=='Date'" [data]="data"></app-brapci-date>
<app-brapci-issue *ngIf="type=='Issue'" [data]="data"></app-brapci-issue>
<app-brapci-journal *ngIf="type=='Journals'" [data]="data"></app-brapci-journal>
{{type}}
<app-theme-footer></app-theme-footer>
