<app-journal-banner [data]="journal"></app-journal-banner>

<div class="container" *ngIf="journal">
  <div class="row">
    <div class="col-12 col-lg-12 mt-3">
      <a
        (click)="selectPG('1')"
        class="ms-3 menu"
        [ngClass]="page == '1' ? 'active' : ''"
        >Sobre</a
      >
      <a
        (click)="selectPG('2')"
        class="ms-3 menu"
        [ngClass]="page == '2' ? 'active' : ''"
        >Fascículos</a
      >
      <a
        (click)="selectPG('3')"
        class="ms-3 menu"
        [ngClass]="page == '3' ? 'active' : ''"
        >Indexadores</a
      >
      <a
        (click)="selectPG('4')"
        class="ms-3 menu"
        [ngClass]="page == '4' ? 'active' : ''"
        >Autores</a
      >
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-lg-2">
      <img [src]="journal.cover" class="img-fluid mb-2" />
      <div id="jnl_issn" class="mb-3 portal" *ngIf="journal.jnl_issn">
        <a
          href="https://portal.issn.org/resource/ISSN/{{ journal.jnl_issn }}"
          target="_blank"
          >ISSN Portal</a
        ><br />
      </div>
      <div id="jnl_eissn" class="mb-3 portal" *ngIf="journal.jnl_eissn">
        <a
          href="https://portal.issn.org/resource/ISSN/{{ journal.jnl_eissn }}"
          target="_blank"
          >eISSN Portal</a
        ><br />
      </div>
      <div id="jnl_url" class="mb-3 portal" *ngIf="journal.jnl_eissn">
        <a href="{{ journal.jnl_url }}" target="_blank">Site da Revista</a
        ><br />
      </div>
    </div>
    <div class="col-12 col-lg-10">
<!-- Pagin 1-->
      <div *ngIf="page === '1'">
        <label class="small">Nome da publicação</label>
        <br /><b>{{ journal.jnl_name }}</b>
        <br/>
        <br/>

        <label class="small">Abreviatura</label>
        <br /><b>{{ journal.jnl_name_abrev }}</b>
        <br/>


        <label class="small">ISSN</label>
        <br/>
          <span *ngIf="journal.jnl_issn" class="me-4"><b>{{ journal.jnl_issn }}</b></span>
          <span *ngIf="journal.jnl_eissn">eISSN: <b>{{ journal.jnl_eissn }}</b></span>
        <br/>

        <label class="small">Vigência</label>
        <br/><b>{{ journal.jnl_ano_inicio }}-
        <span *ngIf="journal.jnl_ano_final > 0">{{ journal.jnl_ano_final }}</span></b>
        <br/>

        <label *ngIf="journal.periodicidade" class="small">Periodicidade</label>
        <br/><b>{{ journal.periodicidade }}</b>
        <br/>

        <label *ngIf="journal.responsabilidade" class="small">Responsabilidade</label>
        <br/><b>{{ journal.responsabilidade }}</b>
        <br/>

        <label *ngIf="journal.qualis" class="small">Qualis</label>
        <br/><b>{{ journal.qualis }}</b>
        <br/>

      </div>
<!-- Pagin 2-->
  <div *ngIf="(page === '2')" >Pag 2
    ======================
    <ul *ngIf="issue">
      ======================
      {{ issue | json }}
      ======================
      <div *ngFor="let item of issue">
        X
      </div>

    </ul>
  </div>
<!-- Pagin 3-->
    <div *ngIf="page === '3'">Pag 3</div>
<!-- Pagin 4-->
    <div *ngIf="page === '4'">Pag 4</div>
    </div>

    <div style="height: 200px;"></div>

  </div>
</div>
