<app-theme-header [header]="header"></app-theme-header>
<app-theme-navbar></app-theme-navbar>
<!---- LOGO-->
<div class="container mt-5">
  <div class="row">
    <div class="col-2 col-lg-3"></div>
    <div class="col-10 col-lg-6"><img [src]="logo" class="img-fluid" alt="Logotipo da Brapci em branco com sombras" /></div>
    <div class="col-2 col-lg-3"></div>
  </div>
</div>
<!---- CAMPO -->
<div class="container">
  <div class="row">
    <div class="col-12">


      <h1>Busca Avançada</h1>
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <label for="search">Termos de busca</label>
        <input
          id="search"
          type="search"
          placeholder="Digite aqui"
          formControlName="term"
          autofocus
          required
          class="shadow rounded p-2"
        />
        <button type="submit" *ngIf="!loading">
          <i class="bi bi-search"></i>
        </button>
        <button type="submit" *ngIf="loading">
          <img [src]="loaging_img" style="height: 65px" />
        </button>

        <br />

        <small class="link ms-4" (click)="clickSearch()">busca simples</small>
      </form>
    </div>
  </div>
</div>

<app-theme-footer></app-theme-footer>
