<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3 mb-5" *ngFor="let item of journals">
      <a
        [routerLink]="['/journals/view/' + item.id_jnl]"
        class="title"
        routerLinkActive="router-link-active"
        >{{ item.jnl_name_abrev }}</a>
      <a
        [routerLink]="['/journals/view/' + item.id_jnl]"
        routerLinkActive="router-link-active">
        <img [src]="item.cover" class="img-fluid" style="width: 100%" />
      </a>
    </div>
  </div>
</div>
