<app-banner-proceeding></app-banner-proceeding>
<div class="container" *ngIf="source">
  <div class="row">
    <h1>{{ source.source.jnl_name }}</h1>
    <h4>{{ source.source.jnl_name_abrev }}</h4>

    <div  *ngFor="let issue of source.source.issue" class="col-4">
        <div class="cover issue p-2 m-2" (click)="viewIssue(issue.ID)">
          <span class="issue-name">{{issue.acron}}</span>
          <span class="issue-nr">{{issue.vol}}</span>
          <span class="issue-place">{{issue.place}}</span>
          <span class="issue-year">{{issue.year}}</span>
     </div>

  </div>
</div>
