<app-banner-proceeding></app-banner-proceeding>
<div class="container" *ngIf="source">
  <div class="row">
    <h1>{{ source.source.jnl_name }}</h1>
    <h4>{{ source.source.jnl_name_abrev }}</h4>

    <div *ngIf="source.source.issue" [innerHtml]="source.source.issue">
    </div>
    <div  *ngIf="source.source.issue.is_year">
      <div
        class="col-12 col-sm-6 col-lg-4 col-xl-3 mt-3"
        *ngFor="let issue of source.source.issue"
      >
        <div class="issue" (click)="viewIssue(issue.id_is)">
          <div class="issue-year">{{ issue.is_year }}</div>
          <div class="issue-nr">{{ issue.is_vol_roman }}</div>
          <div class="issue-name">{{ source.source.jnl_name_abrev }}</div>
          <div class="issue-place">{{ issue.is_place }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
