<div class="mt-5">&nbsp;</div>
<div class="container">
  <div class="row" *ngIf="PreparoItems">
  <div class="col-11 col-sm-11"></div>
  <div class="col-1 col-sm-1">{{ PreparoItems.be_status }}</div>

    <div class="col-12 col-sm-12">
    <form>
      <div class="mt-5">
        <!-- TITLE -->
        <div *ngIf="!edit_bk_title">
        <span class="title">{{ PreparoItems.bk_title }}</span>
        <br>
        <span class="handle" *ngIf="editMode" (click)="editON('bk_title');">edit</span>
        </div>

        <div *ngIf="edit_bk_title">
        <input type="text" name="bk_title" class="form-control border border-secondary title" id="bk_title" [(ngModel)]="PreparoItems.bk_title">
        <button  [disabled]="(PreparoItems.bk_title == undo)" class="handle save" (click)="save('bk_title');">save</button>
        |
        <button class="handle" (click)="cancel('bk_title');">cancel</button>
        </div>

        <!-- AUTHORES -->
        <div *ngIf="!edit_be_authors">
        Autores/Organizadores: <span class="title">{{ PreparoItems.be_authors }}</span>
        <span class="handle" *ngIf="editMode" (click)="editON('be_authors');">edit</span>
        </div>

        <div *ngIf="edit_be_authors">
        Autores/Organizadores:
        <br/>
        [[[[[[[[[[[[[[[[[[EDITAR]]]]]]]]]]]]]]]]]]
        <br/>
        <app-block-authors [listAuthors]="listAuthors" [isbn]="isbn" ></app-block-authors>
        <button  [disabled]="(PreparoItems.be_authors == undo)" class="handle save" (click)="save('be_authors');">save</button>
        |
        <button class="handle" (click)="cancel('be_authors');">cancel</button>
        </div>

        <!-- ISBN -->
        <div id="isbn" class="mt-3">
        ISBN: <b>{{PreparoItems.be_isbn13}}</b>
        </div>

        <!-- YEAR -->
        <div *ngIf="!edit_be_year">
        Ano: <span class="title">{{ PreparoItems.be_year }}</span>
        <br>
        <span class="handle" *ngIf="editMode" (click)="editON('be_year');">edit</span>
        </div>

        <div *ngIf="edit_be_year">
        Ano:
        <input type="text" name="edit_be_year" style="width: 100px;" class="form-control border border-secondary title" id="edit_be_year" [(ngModel)]="PreparoItems.be_year">
        <button  [disabled]="(PreparoItems.be_year == undo)" class="handle save" (click)="save('be_year');">save</button>
        |
        <button class="handle" (click)="cancel('be_year');">cancel</button>
        </div>

        <!-- COVER -->
        <div *ngIf="!edit_be_cover">
        URL da capa: <span class="title">{{ PreparoItems.be_cover }}</span>
        <br>
        <span class="handle" *ngIf="editMode" (click)="editON('be_cover');">edit</span>
        </div>

        <div *ngIf="edit_be_cover">
         URL da capa:
        <input type="text" name="edit_be_cover" class="form-control border border-secondary title" id="edit_be_cover" [(ngModel)]="PreparoItems.be_cover">
        <button  [disabled]="(PreparoItems.be_cover == undo)" class="handle save" (click)="save('be_cover');">save</button>
        |
        <button class="handle" (click)="cancel('be_cover');">cancel</button>
        </div>

        <hr>
        {{ PreparoItems | json }}
      </div>
      </form>
    </div>
  </div>
</div>
