  <div class="container">
    <div class="row">
      <div class="col-12">
        <img [src]="logo_brapcilivros" style="height: 80px; float: right" />
        <h1>Disclaimer - Termos de submissão</h1>

        <p>Agradecemos o seu aceite de nossos termos.</p>
        <p>Sua obra já foi liberada para análise de nosso equipe, serão verificados as licenças da obra e as condições de disponibilização.</p>
        <p>Também serão catalogados todos os capítulos e seus autores.</p>
        <p>Agradecemos o interesse em disponibilizar sua obra em nossa coleção.</p>
        <p></p>
        <p>Equipe Brapci-Livros</p>
        <br>
        <button class="btn btn-outline-secondary" [routerLink]="['/books']">Voltar para a Brapci-Livros</button>
      </div>
      </div>
</div>
