<app-header></app-header>
<app-navbar></app-navbar>
<div class="container-fluid bg-brapci">

  <div class="row">
    <div class="col-2 col-sm-4"></div>
    <div class="col-8 col-sm-4">
      <img src="/assets/img/logo_brapci_wire_blue.png" class="img-fluid" />
      <app-search-form></app-search-form>
      AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    </div>
    <div class="col-2 col-sm-4"></div>
    1<br />XXXXXXXXX 1<br />
    1<br />
    1<br />
    1<br />
    1<br />
  </div>
</div>

<ul>
  <li
    *ngFor="let loop2 of '0123456789012345678901234567890123456789'.split('')"
  >
    {{ loop2 }}
  </li>
</ul>
<app-footer></app-footer>
