<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <h1>Lei de Lotka</h1>
      <p>
      A Lei de Lotka é uma lei de produtividade dos autores.
      Ela afirma que o número de autores que fazem n publicações é
      aproximadamente 1/n² do número de autores que fazem uma única publicação.
      Essa lei aponta para uma distribuição desigual de produtividade entre os autores,
      com poucos autores sendo muito produtivos e muitos autores publicando apenas uma vez.
      </p>
    </div>
        <div class="col-12 col-lg-2">
      <app-menu-right-side></app-menu-right-side>
    </div>
  </div>
</div>
