<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <h1>Lei de Price</h1>
      <p>
        Também conhecida como a Lei dos Quadrados, foi formulada por Derek J. de
        Solla Price. Esta lei diz que metade de toda a produção científica em um
        campo específico vem do quadrado da raiz do total de autores que
        contribuíram para esse campo. Isso significa que um pequeno núcleo de
        autores é responsável por uma grande parte das publicações.
      </p>
    </div>
        <div class="col-12 col-lg-2">
      <app-menu-right-side></app-menu-right-side>
    </div>
  </div>
</div>
