<app-theme-header [header]="header"></app-theme-header>
  <app-brapci-banner-general
    [section]="data.is_year"
    [cover]="data.cover"
    [publisher]="data.jnl_name"
  ></app-brapci-banner-general>

<div *ngIf="data">
  <app-brapci-banner-general
    [section]="data.is_year"
    [cover]="data.cover"
    [publisher]="data.jnl_name"
  ></app-brapci-banner-general>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-9">
      <ul>
        <li *ngFor="let item of data.works" class="mb-2">
          <div [innerHTML]="item"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
