<div *ngIf="!ncpf">
    <form [formGroup]="meuCPF">
        <span>Infome seu CPF:</span>
        <input type="text" placeholder="cpf" formControlName="cpf" />
        <button (click)="onSubmit()">Inscrever-se</button>
        <br>
        <span class="error">{{message}}</span>
    </form>
</div>

<div *ngIf="assignup">
    <form [formGroup]="meuCadastro">

        <b>Número do CPF: {{ncpf}}</b>
        <br/>
        

        <label>Nome completo:</label>
        <input class="form-control" type="text" placeholder="Nome completo" formControlName="name" />
        <br/>
        <label>Infome seu e-mail</label>
        <input class="form-control"  type="text" placeholder="e-mail" formControlName="email" />

        <br/>
        <label>Infome seu e-mail (alternativo)</label>
        <input class="form-control"  type="text" placeholder="e-mail" formControlName="email_alt" />

        <br/>
        <button (click)="onSubmit2()">Registrar-se</button>
        <br>
        <span class="error">{{message2}}</span>
    </form>    
</div>

<div *ngIf="assignIn">
    <b>Nome</b>: {{ assignIn.an_name }} <br/>
    <b>CPF</b>: {{ assignIn.cpf }} <br/>
    <span *ngIf="assignIn.c_email "><b>e-mail</b>: {{ assignIn.c_email }} </span>
    <span *ngIf="assignIn.c_email_alt "> | {{ assignIn.c_email_alt }} </span><br/>
</div>

<div *ngIf="ncpf">
    <button (click)="return()">Reiniciar</button>
</div>

<div *ngIf="events">
    <div *ngFor="let items of events.events">
        <input type="checkbox" ng-checked="all" (click)="change(items.id_es)">
        <b>{{ items.es_name }}</b> <br/>
        <i>{{ items.e_name }} </i><br/>
        {{ items.es_data | date: 'dd/MM/yyyy' }} 
        {{ items.es_hora_ini }} - {{ items.es_hora_fim }}
    </div>
</div>