.error {
    margin-top: 20px;
    color: red;
}

.status_ {
    border: 2px solid rgb(69, 36, 187);
}

.status_1 {
    border: 2px solid #788a05;
    background-color: #c0d536;
    padding: 2px 5px;
}

.btn-secondary {
    background-color: #d8c431;
    color: black;
}

.btn-secondary:hover {
    background-color: #c8b421;
    color: black;
}

.btn-primary {
    background-color: #3a0b77;
}

.btn-primary:hover {
    background-color: #1a0b67;
}