.text-field {
  position: relative;
  margin: 10px 2.5px 20px 2.5px;
}

input {
  display: inline-block;
  border: 0px solid #00f;
  border-bottom: solid medium #999;
  color: #fff;
  background: transparent;
  padding: 10px 10px 10px 10px;
  width: 100%;
}

input:focus {
  border: 0px solid #000;
  border-bottom: solid medium #fff;
  background: transparent;
  outline: none;
}

.section {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 2em;
}

label {
  color: #fff;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s;
}

input:focus~label,
input:valid~label {
  top: -10px;
  left: 0px;
  font-size: small;
  color: #AAA;
  padding: 0 5px 0 5px;
}
