<div class="content-fluid banner banner_min_article text-white pb-5 pt-2" *ngIf="section">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-11">
      <span class="small">Publicação</span><br/>
      <span class="journal">{{publisher}}</span>
        <div class="section_div bg-brapci">
              <span class="section" *ngFor="let item of section">{{item.name}} </span>
        </div>
        <div class="cover_div slideInDown">
          <img src="https://brapci.inf.br/img/cover/cover_issue_24.jpg" class="cover">
        </div>
    </div>
  </div>
</div>
