<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 100%; height: 400px; display: block"
>
</highcharts-chart>
{{trabalhos | json}}
<div class="container mt-4" *ngIf="trabalhos">
  <div class="row">
    <div class="col-lg-3 col-6 border border-secondary p-3 rounded">
      Total trabalhos<br>últimos 5 anos
      <br /><br />
      <span style="font-size: 2rem" class="bold">{{trabalhos.media5}}</span> trabalhos
    </div>

    <div class="col-lg-3 col-6 border border-secondary p-3 rounded">
      Média trabalhos <br>últimos 5 anos
      <br /><br />
      <span style="font-size: 2rem" class="bold">{{trabalhos.media5 / 5}}</span> trabalhos/ano
    </div>

    <div class="col-lg-3 col-6 border border-secondary p-3 rounded">
      Total trabalhos<br>últimos 10 anos
      <br /><br />
      <span style="font-size: 2rem" class="bold">{{trabalhos.media10}}</span> trabalhos
    </div>

    <div class="col-lg-3 col-6 border border-secondary p-3 rounded">
      Média trabalhos<br>últimos 10 anos
      <br /><br />
      <span style="font-size: 2rem" class="bold">{{trabalhos.media10 / 10}}</span> trabalhos/ano
    </div>

    <div class="col-lg-6 col-6 border border-secondary p-3 rounded">
      Total de trabalhos publicados
      <br /><br />
      <span style="font-size: 2rem" class="bold">{{trabalhos.mediaTotal}}</span> trabalhos
    </div>

    <div class="col-lg-6 col-6 border border-secondary p-3 rounded">
      Média de trabalhos publicados por ano
      <br /><br />
      <span style="font-size: 2rem" class="bold">{{trabalhos.mediaTotal / trabalhos.mediaTotal}}</span> trabalhos/ano
    </div>

  </div>
</div>
